body{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}
.table{
    display: grid; /* Aplicar CSS Grid */
    grid-template-rows: auto; /* Definir 3 filas */
    grid-template-columns: repeat(6, 1fr); /* Definir 3 columnas */
    position: relative;
    background-color: rgba(45, 45, 45, 0.7) ;
    height: 800px;
    width: 700px;
    box-shadow: 10px 15px 18px rgba(0, 0, 0, 0.1); 
}
.papelitos{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: caida linear infinite;
    
}
@keyframes caida{
    0%{
        transform: translateY(-100vh);
        opacity: 1;
    }
    100%{
        transform: translateY((calc(100vh - 10px)));
        opacity: 1;

    }
}
.lineas {
   position: absolute; 
    background-color: black;
}

.lineasx {
    width: 100%; 
    height: 3px;
}

.lineasy {
    width: 3px;
    height: 100%; 
}
.boton{
    height: 20px;
    margin: 28px;
    background-color: blueviolet;
    text-align: center;
}
.espacio{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fichas{
    position:absolute;
    display: flex;
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
}
